<link rel="import" href="../../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="./pubnub-import.html" />

<dom-module id="pubnub-client">
    <script>
        class PubnubClient extends Polymer.Element {

            static get is() {
                return "pubnub-client";
            }

            ready() {
                super.ready();
                this.pubnub = new PubNub({
                    publishKey: this.publishKey,
                    subscribeKey: this.subscribekey
                });

                let $this = this;
                this.pubnub.addListener({
                    message: function (msg) {
                        $this.dispatchEvent(new CustomEvent('received-message', { detail: msg.message }));
                    }
                });

                this.pubnub.subscribe({
                    channels: [this.channel]
                });
            }

        }

        window.customElements.define(PubnubClient.is, PubnubClient);
    </script>
</dom-module>