<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/paper-card/paper-card.html" />
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html" />
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../shared-styles.html" />
<link rel="import" href="../my-icons.html" />

<dom-module id="activar-cuenta">
    <template>

        <style>
            :host {
                margin: 35px 0 auto;
                display: block;
                width: 100%;
                font-size: 14px;
                overflow-y: auto
            }

            paper-toolbar {
                --paper-toolbar-height: 45px;
                --paper-toolbar-sm-height: 45px;
                --paper-toolbar-background: white;
                --paper-toolbar-color: #666;

                --paper-toolbar-title: {
                    margin-left: 0px;
                    color: #0078d2;
                    font-weight: normal;
                    font-size: 16px;
                }
            }

            p {
                margin: 0 !important;
                text-align: right;
            }

            .cuentaDesc {
                text-align: left;
                text-transform: uppercase;
                font-size: 16px;
            }

            .cuentaNum {
                text-align: left;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 15px;
            }

            .cuentaSaldo {
                font-weight: bold;
                color: #0078d2;
                font-size: 16px;
            }

            .alignRigth {
                text-align: right;
            }
        </style>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="cuentaDesc">[[cuenta.descripcion]]</p>
                    <p class="cuentaNum">[[cuenta.numeroCuenta]]</p>
                </div>
                <div class="col">
                    <p>DISPONIBLE</p>
                    <p class="cuentaSaldo">[[_getSimboloMoneda(cuenta.moneda)]][[_numberFormat(cuenta.saldoDisponible, 2)]]</p>
                    <p>[[_defineLabelSaldo(cuenta.codTipoCuenta)]]
                        <b>[[_getSimboloMoneda(cuenta.moneda)]][[_numberFormat(cuenta.saldoContable, 2)]]</b></p>
                </div>
            </div>
        </div>

        <br/>

        <paper-toolbar>
            <div slot="top" class="title">Ultimos Movimientos</div>
            <paper-icon-button slot="top" icon="my-icons:arrow-back" on-click="onClickRegresar"></paper-icon-button>
            <paper-icon-button slot="top" icon="my-icons:print"></paper-icon-button>
            <paper-icon-button slot="top" icon="my-icons:picture-as-pdf"></paper-icon-button>
        </paper-toolbar>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Glosa</th>
                    <th scope="col">Impuestos [[_getSimboloMoneda(cuenta.moneda)]]</th>
                    <th scope="col">Importe [[_getSimboloMoneda(cuenta.moneda)]]</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="[[cuenta.movimientos]]" as="item">
                    <tr>
                        <td>[[item.fecha]]</td>
                        <td>[[item.glosa]]</td>
                        <td class="alignRigth">[[_numberFormat(item.impuestos, 2)]]</td>
                        <td class="alignRigth">
                            <template is="dom-if" if="{{_equals(item.tipo,'D')}}">-</template>[[_numberFormat(item.importe,2)]]
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>

    </template>

    <script>
        class ActivarCuenta extends Polymer.Element {
            static get is() {
                return "activar-cuenta";
            }

            static get properties() {
                return {
                    cuenta: {
                        type: Object
                    }
                };
            }

            _defineLabelSaldo(tipoCuenta) {
                return tipoCuenta == 'TCRE' ? 'Consumido' : 'Contable';
            }

            _numberFormat(number, decimals) {
                return number == undefined || isNaN(number) ? 'ERROR' : number.toFixed(decimals);
            }

            _equals(value1, value2) {
                return value1 === value2;
            }

            _getSimboloMoneda(codigo){
                return this.cttes.getSimboloMoneda(this.parametros.SIMBOLO_MONEDAS, codigo);
            }

            onClickRegresar(event){
                this.dispatchEvent(new CustomEvent('exit'));
            }
        }

        window.customElements.define(ActivarCuenta.is, ActivarCuenta)
    </script>
</dom-module>