<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html" />

<dom-module id="actualizar-datos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        height: 100%;
        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>
        <iron-icon icon="my-icons:edit"></iron-icon> Actualización de Datos
      </h1>
    </div>
  </template>

  <script>
    class ActualizarDatos extends Polymer.Element {
      static get is() { return 'actualizar-datos'; }
    }

    window.customElements.define(ActualizarDatos.is, ActualizarDatos);
  </script>
</dom-module>