<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html" />
<link rel="import" href="../../bower_components/paper-button/paper-button.html" />
<link rel="import" href="../shared-styles.html" />
<link rel="import" href="../my-icons.html" />

<dom-module id="mis-transferencias">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        height: 100%;
        padding: 10px;
        font-size: 14px;
      }
      .divLabel {
        padding: 5px 5px 0px 5px;
      }
      .divInput {
        padding: 5px;
        padding-bottom: 10px;
      }
      .divButton{
        padding: 10px;
        text-align: center;
      }
      .importe{
        text-align: right;
      }
      input{
        min-width: 200px;
        font-size: 13px;
      }
      .separator{
        margin: 10px;
        padding: 5px 0px 5px 0px;
        border-bottom: 0.5px #ddd solid;
      }
      .validacion{
        color:red;
      }
      .btnGreen{
        color: white;
        background-color: green;
      }
      .btnRed{
        color: white;
        background-color: red;
      }
    </style>


    <div class="card">
      <h1>
        <iron-icon icon="my-icons:send"></iron-icon> Transferencias
      </h1>

      <div class="card-body">
        <iron-form>
          <form>
            <div class="divLabel">
              <label for="cuentaOrigen">Cuenta Cargo : </label>
            </div>
            <div class="divInput">
              <select class="form-control" id="cuentaOrigen" name="cuentaOrigen" value="{{cuentaOrigen::input}}">
                <option value=""> -- Seleccione -- </option>
                <template is="dom-repeat" items="[[cuentas]]" as="item">
                  <option value="[[item.numeroCuenta]]">[[item.descripcion]] #[[item.numeroCuenta]]
                    [[_getSimboloMoneda(item.moneda)]][[_numberFormat(item.saldoDisponible, 2)]]</option>
                </template>
              </select>
              <span class="validacion">[[cuentaOrigenValidacion]]</span>
            </div>
            <div class="divLabel">
              <label for="importe">Importe a transferir : </label>
            </div>
            <div class="divInput">
              <input class="importe" name="importe" placeholder="0.0" value="{{importe::input}}" size="12">
              <span class="validacion">[[importeValidacion]]</span>
            </div>
            <div class="divLabel">
              <label for="name">Cuenta a Transferir : </label>
            </div>
            <div class="divInput">
              <input name="cuentaDestino" placeholder="Cuenta a Transferir" value="{{cuentaDestino::input}}" size="[[cttes.NUMERO_CUENTA_SIZE]]" />
              <span>[[clienteCuentaDestino]]</span>
              <span class="validacion">[[cuentaDestinoValidacion]]</span>
            </div>

            <div class="separator"></div>

            <div class="divInput">
              <label for="claveToken">Clave Token : </label>
              <input type="password" class="claveToken" name="claveToken" placeholder="" value="{{claveToken::input}}"
                size="12">
              <span class="validacion">[[claveTokenValidacion]]</span>
            </div>

            <div class="separator"></div>

            <div class="divButton">
              <paper-button raised on-click="doTransferir" class="btnGreen">Transferir</paper-button>
              <paper-button raised on-click="doCancelar" class="btnRed">Cancelar</paper-button>
            </div>

          </form>

          <span class="validacion">[[mensaje]]</span>

        </iron-form>
      </div>

    </div>

    <iron-ajax auto id="ironAjaxGetCuentas" url="[[cttes.URL_BACKEND]]/cuentas/cliente/[[session.user.idCliente]]"
      method="get" content-type="application/json" on-response="doGetCuentasCallback" on-error="doGetCuentasErrorCallback"
      handle-as="json" headers$='{"authorization":"[[session.token]]"}' loading="{{loading}}" />

    <iron-ajax id="ironAjaxGetClienteAbono" url="[[cttes.URL_BACKEND]]/clientes/numeroCuenta/[[cuentaDestino]]" method="get"
      content-type="application/json" on-response="doGetClienteAbonoCallback" on-error="doGetClienteAbonoErrorCallback"
      handle-as="json" headers$='{"authorization":"[[session.token]]"}' loading="{{loading}}" />

    <iron-ajax id="ironAjaxTransferir" url="[[cttes.URL_BACKEND]]/transferencias/transferir" method="post" content-type="application/json"
      on-response="doTransferirCallback" on-error="doTransferirErrorCallback" handle-as="json" headers$='{"authorization":"[[session.token]]"}'
      loading="{{loading}}" />

  </template>

  <script>
    class MisTransferencias extends Polymer.Element {
      static get is() { return 'mis-transferencias'; }

      static get properties() {
        return {
          cuentaOrigen: {
            type: String,
            value: ""
          },
          importe: {
            type: Number,
          },
          importeValidacion: {
            type: String,
            value: ""
          },
          cuentaDestino: {
            type: String,
            value: "",
            notify: true,
            observer: "_cuentaAbonoChanged"
          },
          cuentaDestinoValidacion: {
            type: String,
            value: ""
          },
          clienteCuentaDestino: {
            type: String,
            value: "",
          },
          claveToken: {
            type: String,
            value: "",
          },
          mensaje: {
            type: String,
            value: "",
          },
          loading: {
            notify: true
          }
        }
      }

      show() {
        this.limpiar();
        this.getCuentasCargo();
      }

      refresh() {
        this.getCuentasCargo();
        this._cuentaAbonoChanged(this.cuentaDestino, null);
      }

      limpiar() {
        this.cuentaOrigen = "";
        this.cuentaOrigenValidacion = "";
        this.importe = 0.0;
        this.importeValidacion = "";
        this.cuentaDestino = "";
        this.cuentaDestinoValidacion = "";
        this.clienteCuentaDestino = "";
        this.claveToken = "";
        this.mensaje = "";
      }

      _cuentaAbonoChanged(newValue, oldValue) {
        if (newValue && newValue.length == this.cttes.NUMERO_CUENTA_SIZE)
          this.getClienteCuentaAbono();
        else
          this.clienteCuentaDestino = "";
      }

      doCancelar() {
        this.limpiar();
        this.cttes.irAPagina(this.cttes.PATH_PAGE_MIS_CUENTAS);
      }

      getClienteCuentaAbono() {
        this.$.ironAjaxGetClienteAbono.generateRequest();
      }

      doGetClienteAbonoCallback(event, request) {
        console.log(request.response);
        this.clienteCuentaDestino = "Cliente: " + request.response.nombres + " " + request.response.apellidos;
        this.cuentaDestinoValidacion = "";
      }

      doGetClienteAbonoErrorCallback(event, error) {
        this.clienteCuentaDestino = "";
        if (error.request.response.message) {
          alert(error.request.response.message);
        } else {
          alert('Ocurrio un problema al realizar la operación');
        }
      }

      getCuentasCargo() {
        this.$.ironAjaxGetCuentas.generateRequest();
      }

      doGetCuentasCallback(event, request) {
        console.log(request.response);
        let cuentasAhorro = [];
        if (request.response.length) {
          cuentasAhorro = request.response.filter(item =>
            item.codTipoCuenta = this.cttes.TIPO_CUENTA_AHORRO
          );
        }

        this.cuentas = cuentasAhorro;
      }

      doGetCuentasErrorCallback(event, error) {
        if (error.request.response.message) {
          alert(error.request.response.message);
        } else {
          alert('Ocurrio un problema al realizar la operación');
        }
      }

      doTransferir() {
        this.$.ironAjaxTransferir.body = {
          cuentaOrigen: this.cuentaOrigen,
          cuentaDestino: this.cuentaDestino,
          importe: this.importe,
          claveToken: this.claveToken
        }
        this.$.ironAjaxTransferir.generateRequest();
      }

      doTransferirCallback(event, request) {
        alert("Operacion realizada con exito");
        this.cttes.irAPagina(this.cttes.PATH_PAGE_MIS_CUENTAS);
      }

      doTransferirErrorCallback(event, error) {
        let band = false;
        if (error.request.response.message) {
          this.mensaje = error.request.response.message;
          band = true;
        }

        if (error.request.response.length) {
          error.request.response.forEach(validacion => {
            this[validacion.param + "Validacion"] = validacion.msg;
          });
          band = true;
        }

        if (!band) {
          alert('Ocurrio un problema al realizar la operación');
        }
      }

      _numberFormat(number, decimals) {
        return number.toFixed(decimals);
      }

      _getSimboloMoneda(codigo) {
        return this.cttes.getSimboloMoneda(this.parametros.SIMBOLO_MONEDAS, codigo);
      }
    }

    window.customElements.define(MisTransferencias.is, MisTransferencias);
  </script>
</dom-module>