<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html" />
<link rel="import" href="../../bower_components/paper-button/paper-button.html" />
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html" />
<link rel="import" href="../shared-styles.html" />
<link rel="import" href="../my-icons.html" />
<link rel="import" href="../components/cuentas-card.html" />
<link rel="import" href="./movimientos-cuenta.html" />

<dom-module id="mis-cuentas">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                height: 100%;
                padding: 10px;
            }

            cuentas-card {
                margin: 15px 0px;
            }
        </style>

        <div class="card">
            <h1>
                <iron-icon icon="my-icons:account-balance"></iron-icon> Mis Cuentas
            </h1>

            <iron-pages selected="[[viewName]]" attr-for-selected="view-name">
                <div view-name="cuentas-card">
                    <template is="dom-repeat" items="[[dataCuentasxTipo]]" as="item">
                        <cuentas-card cod-tipo-cuenta="[[item.codTipoCuenta]]" dsc-tipo-cuenta="[[item.dscTipoCuenta]]"
                            cuentas="[[item.cuentas]]" on-cuenta-selected="onMostrarMovimientos" cttes="[[cttes]]"
                            parametros="[[parametros]]" loading="{{loading}}"></cuentas-card>
                    </template>
                </div>
                <div view-name="movimientos-cuenta">
                    <movimientos-cuenta cuenta="[[cuentaSelected]]" on-exit="onMostrarCuentas" cttes="[[cttes]]"
                        parametros="[[parametros]]" loading="{{loading}}"></movimientos-cuenta>
                </div>
            </iron-pages>

        </div>

        <iron-ajax auto id="ironAjaxCuentas" url="[[cttes.URL_BACKEND]]/cuentas/cliente/[[session.user.idCliente]]"
            method="get" content-type="application/json" on-response="doCargarCuentasCallback" on-error="doCargarCuentasErrorCallback"
            handle-as="json" headers$='{"authorization":"[[session.token]]"}' loading="{{loading}}" />

    </template>

    <script>
        class MisCuentas extends Polymer.Element {
            static get is() { return 'mis-cuentas'; }
            static get properties() {
                return {
                    viewName: {
                        type: String,
                        value: "cuentas-card"
                    },
                    dataCuentas: {
                        type: Array,
                        notify: true,
                        observer: "_dataCuentasChanged"
                    },
                    dataCuentasxTipo: {
                        type: Array,
                        notify: true
                    },
                    cuentaSelected: {
                        type: Object,
                        notify: true
                    },
                    loading: {
                        notify: true
                    }
                }
            }

            show() {
                this.viewName = "cuentas-card";
                this.getListaCuentas();
            }

            refresh() {
                this.getListaCuentas();
            }

            _dataCuentasChanged(newValue, oldValue) {
                this.dataCuentasxTipo = [];
                if (!newValue || !newValue.length) return;

                let newDataCuentasxTipo = [];

                this.parametros.TIPOS_CUENTAS.forEach((tipoCuenta, index) => {
                    let array = [];
                    newValue.forEach(cuenta => {
                        if (cuenta.codTipoCuenta === tipoCuenta.id) {
                            cuenta.dscTipoCuenta = tipoCuenta.valor;
                            array.push(cuenta);
                        }
                    });

                    if (array.length)
                        newDataCuentasxTipo.push({
                            codTipoCuenta: tipoCuenta.id,
                            dscTipoCuenta: tipoCuenta.valor,
                            cuentas: array
                        });
                });

                this.dataCuentasxTipo = newDataCuentasxTipo;
            }

            getListaCuentas() {
                this.$.ironAjaxCuentas.generateRequest();
            }

            doCargarCuentasCallback(event, request) {
                console.log(request.response);
                this.dataCuentas = request.response;

                if (this.cuentaSelected && this.cuentaSelected.numeroCuenta)
                    this.onMostrarMovimientos(null, { numeroCuenta: this.cuentaSelected.numeroCuenta });
            }

            doCargarCuentasErrorCallback(event, error) {
                if (error.request.response.message) {
                    alert(error.request.response.message);
                } else {
                    alert('Ocurrio un problema al realizar la operación');
                }
            }

            onMostrarMovimientos(event, { numeroCuenta }) {
                if (!numeroCuenta && this.dataCuentas.length)
                    return;

                this.cuentaSelected = this.dataCuentas.filter(item => item.numeroCuenta == numeroCuenta)[0];
                this.viewName = "movimientos-cuenta";
            }

            onMostrarCuentas(event) {
                this.viewName = "cuentas-card";
            }

        }

        window.customElements.define(MisCuentas.is, MisCuentas);
    </script>
</dom-module>