<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html" />

<dom-module id="pago-servicios">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        height: 100%;
        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>
        <iron-icon icon="my-icons:payment"></iron-icon> Pago de Servicios
      </h1>
    </div>
  </template>

  <script>
    class PagoServicios extends Polymer.Element {
      static get is() { return 'pago-servicios'; }
    }

    window.customElements.define(PagoServicios.is, PagoServicios);
  </script>
</dom-module>