<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html" />

<dom-module id="token-digital">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        height: 100%;
        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>
        <iron-icon icon="my-icons:lock-outline"></iron-icon> Token Digital
      </h1>
    </div>
  </template>

  <script>
    class TokenDigital extends Polymer.Element {
      static get is() { return 'token-digital'; }
    }

    window.customElements.define(TokenDigital.is, TokenDigital);
  </script>
</dom-module>