<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/paper-card/paper-card.html" />
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html" />
<link rel="import" href="../shared-styles.html" />
<link rel="import" href="../my-icons.html" />

<dom-module id="cuentas-card">
    <template>

        <style>
            :host {
                display: block;
                width: 100%;
                font-size: 14px;
            }

            h6 {
                color: #0078d2 !important;
                font-weight: normal !important;
                font-size: 16px !important;
            }

            .table-hover tbody tr:hover td,
            .table-hover tbody tr:hover th {
                background-color: #BBDEFB;
                cursor: pointer;
            }

            paper-card {
                width: 100%;
            }

            .alignRigth {
                text-align: right;
            }
        </style>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

        <paper-card>
            <div class="card-content">
                <h6>[[dscTipoCuenta]]</h6>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Descripción</th>
                            <th scope="col">#Cuenta</th>
                            <th scope="col">[[_defineLabelSaldo(codTipoCuenta)]]</th>
                            <th scope="col">Disponible</th>
                            <th scope="col">
                                <iron-icon icon="my-icons:list"></iron-icon>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="[[cuentas]]" as="item">
                            <tr on-click="onClickCuentaRow" id="[[item.numeroCuenta]]">
                                <td>[[item.descripcion]]</td>
                                <td>[[item.numeroCuenta]]</td>
                                <td class="alignRigth">[[_getSimboloMoneda(item.moneda)]][[_numberFormat(item.saldoContable, 2)]]</td>
                                <td class="alignRigth">[[_getSimboloMoneda(item.moneda)]][[_numberFormat(item.saldoDisponible, 2)]]</td>
                                <td>
                                    <iron-icon icon="my-icons:chevron-right"></iron-icon>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>

        </paper-card>

    </template>

    <script>
        class CuentasCard extends Polymer.Element {
            static get is() {
                return "cuentas-card";
            }

            static get properties() {
                return {
                    codTipoCuenta: {
                        type: String
                    },
                    dscTipoCuenta: {
                        type: String
                    },
                    cuentas: {
                        type: Array
                    },
                    loading: {
                        notify: true
                    }
                };
            }

            ready() {
                super.ready();
            }

            _equals(value1, value2) {
                return value1 == value2;
            }

            _defineLabelSaldo(tipoCuenta) {
                return tipoCuenta == 'TCRE' ? 'Consumido' : 'Contable';
            }

            _numberFormat(number, decimals) {
                return number.toFixed(decimals);
            }

            onClickCuentaRow(event) {
                console.log(event.currentTarget.id);
                this.dispatchEvent(new CustomEvent('cuenta-selected', { detail: { numeroCuenta: event.currentTarget.id } }));
            }

            _getSimboloMoneda(codigo){
                return this.cttes.getSimboloMoneda(this.parametros.SIMBOLO_MONEDAS, codigo);
            }
        }

        window.customElements.define(CuentasCard.is, CuentasCard)
    </script>
</dom-module>