<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/paper-card/paper-card.html" />
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html" />
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html" />
<link rel="import" href="../shared-styles.html" />
<link rel="import" href="../my-icons.html" />

<dom-module id="mis-sesiones">
    <template>

        <style>
            :host {
                display: block;
                width: 100%;
                font-size: 11px;
                text-align: center;
                color: #757575;
                margin-top: 10px;
            }

            h3 {
                padding-bottom: 5px;
                padding-top: 10px;
                margin: 0px 10px 0px 10px;
                color: #0078d2 !important;
                text-align: center;
                font-size: 14px !important;
                border-bottom: 0.5px #ddd solid;
            }

            paper-card {
                width: 90%;
                padding: 0px;
            }

            .card-content {
                padding: 0;
                overflow: auto;
            }

            table {
                padding-bottom: 5px;
                width: 100%;
            }

            th {
                font-size: 12px;
            }

            td {
                padding: 5px;
            }
        </style>


        <paper-card>
            <div class="card-content">
                <h3>Mis Sesiones Activas</h3>
                <template is="dom-if" if="[[loading]]">
                    <paper-spinner alt="Cargando" active></paper-spinner>
                </template>
                <template is="dom-if" if="[[!loading]]">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Login</th>
                                <th scope="col">Plataforma</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template is="dom-repeat" items="[[sesiones]]" as="item">
                                <tr>
                                    <td>[[_formatFecha(item.fechaInicio)]]</td>
                                    <td>[[item.platform]]</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </template>
            </div>
        </paper-card>

        <iron-ajax auto id="ironAjaxSessiones" url="[[cttes.URL_BACKEND]]/sesiones/cliente/[[session.user.idCliente]]"
            method="get" content-type="application/json" last-response="{{sesiones}}" handle-as="json" headers$='{"authorization":"[[session.token]]"}'
            loading="{{loading}}" />

    </template>

    <script src="../../bower_components/moment/moment.js"></script>

    <script>
        class MisSesiones extends Polymer.Element {
            static get is() {
                return "mis-sesiones";
            }

            static get properties() {
                return {
                    sesiones: {
                        type: Array,
                        value: [],
                        notify: true
                    },
                    loading: Boolean
                };
            }

            refresh(){
                this.$.ironAjaxSessiones.generateRequest();
            }

            _formatFecha(miliseconds) {
                return moment(new Date(miliseconds)).format('DD/MM/YYYY HH:MM');
            }
        }

        window.customElements.define(MisSesiones.is, MisSesiones)
    </script>
</dom-module>