<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="./components/mis-sesiones.html" />
<link rel="import" href="./components/pubnub/pubnub-client.html" />

<link rel="lazy-import" href="./views/mis-cuentas.html">
<link rel="lazy-import" href="./views/mis-transferencias.html">
<link rel="lazy-import" href="./views/pago-servicios.html">
<link rel="lazy-import" href="./views/actualizar-datos.html">
<link rel="lazy-import" href="./views/token-digital.html">

<dom-module id="my-home">
    <template>
        <style>
            :host {
                --app-primary-color: #006caa;
                --app-secondary-color: black;
                display: block;
                background-color: #E3F2FD;
                height: 100%;
            }

            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }

            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }

            app-header-layout {
                background-color: #E3F2FD;
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            app-header-layout {
                --paper-icon-button-ink-color: red;
            }

            .drawer-list {
                margin: 0 20px;
                background: #4285f4;
                margin: 0px;
                --iron-icon-width: 15px;
            }

            .drawer-list a {
                border-bottom: #fff 0.5px solid;
                border-left: #62bed5 12px solid;
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--app-secondary-color);
                line-height: 35px;
                background-color: #BBDEFB;
                font-size: 14px;
            }

            .drawer-list a.iron-selected {
                color: black;
                font-weight: bold;
                background-color: #E3F2FD;
            }

            .app-toolbar-header-1 {
                background-color: #fff;
                margin: 0;
                padding: 0;
                height: 52px;
            }

            .app-toolbar-header-2 {
                height: 50px;
            }

            .menuDiv {
                background-color: #006caa;
                border-top: #fff 1px solid;
                border-bottom: #fff 0.5px solid;
                color: white;
                padding: 5px;
                text-align: center;
                font-weight: bold;
                font-size: 15px;
            }

            .userDiv {
                display: block;
                font-size: 14px;
                text-align: center;
                font-weight: 600;
                color: green;
                padding: 2px;
                border-bottom: #4285f4 1px solid;
                --iron-icon-fill-color: green;
            }

            .slideHeaderDiv {
                background: url("../assets/images/barra_bbva.png") no-repeat;
                background-size: contain;
                padding-left: 13px;
                text-align: center;
            }

            .btnSalir {
                background: green;
                color: white;
                height: 30px;
                font-size: 15px;
                text-transform: capitalize;
                width: 90%;
                margin-top: 10px;
                --iron-icon-fill-color: white;
            }
        </style>

        <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
        </app-location>

        <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
        </app-route>

        <app-drawer-layout fullbleed narrow="{{narrow}}" responsive-Width="900px">
            <!-- Drawer content -->
            <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
                <div class="slideHeaderDiv">
                    <img src="assets/images/bbva.jpg" width="150" height="50" />
                    <div class="userDiv">
                        <iron-icon icon="my-icons:account-circle"></iron-icon> [[session.user.nombre]]
                    </div>
                </div>
                <div class="menuDiv">Menú</div>
                <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                    <a name="mis-cuentas" href="[[rootPath]]mis-cuentas">
                        <iron-icon icon="my-icons:account-balance"></iron-icon> Mis Cuentas
                    </a>
                    <a name="mis-transferencias" href="[[rootPath]]mis-transferencias">
                        <iron-icon icon="my-icons:send"></iron-icon> Transferencias
                    </a>
                    <a name="pago-servicios" href="[[rootPath]]pago-servicios">
                        <iron-icon icon="my-icons:payment"></iron-icon> Pago de Servicios
                    </a>
                    <a name="actualizar-datos" href="[[rootPath]]actualizar-datos">
                        <iron-icon icon="my-icons:edit"></iron-icon> Actualizar Datos
                    </a>
                    <a name="token-digital" href="[[rootPath]]token-digital">
                        <iron-icon icon="my-icons:lock-outline"></iron-icon> Token Digital
                    </a>
                </iron-selector>

                <div style="text-align: center">
                    <paper-button class="btnSalir" on-click="onClickLogout"> Salir &nbsp;<iron-icon icon="my-icons:exit-to-app"></iron-icon>
                    </paper-button>
                </div>

                <mis-sesiones id="mis-sesiones" cttes="[[cttes]]" session="[[session]]"></mis-sesiones>

            </app-drawer>

            <!-- Main content -->
            <app-header-layout has-scrolling-region>

                <app-header slot="header" condenses reveals effects="waterfall">
                    <app-toolbar class="app-toolbar-header-2">
                        <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                        <div main-title>Banca por Internet</div>
                        <paper-icon-button icon="my-icons:refresh" on-click="onClickRefresh"></paper-icon-button>
                        <paper-icon-button icon="my-icons:exit-to-app" on-click="onClickLogout"></paper-icon-button>
                    </app-toolbar>
                </app-header>

                <iron-pages class="iron-pages" selected="[[page]]" attr-for-selected="name" fallback-selection="view404"
                    role="main">
                    <mis-cuentas name="mis-cuentas" id="mis-cuentas" session="[[session]]" cttes="[[cttes]]" parametros="[[parametros]]"
                        loading="{{loading}}"></mis-cuentas>
                    <mis-transferencias name="mis-transferencias" id="mis-transferencias" session="[[session]]" cttes="[[cttes]]"
                        parametros="[[parametros]]" loading="{{loading}}"></mis-transferencias>
                    <pago-servicios name="pago-servicios" id="pago-servicios" session="[[session]]" cttes="[[cttes]]"
                        parametros="[[parametros]]" loading="{{loading}}"></pago-servicios>
                    <actualizar-datos name="actualizar-datos" id="actualizar-datos" session="[[session]]" cttes="[[cttes]]"
                        parametros="[[parametros]]" loading="{{loading}}"></actualizar-datos>
                    <token-digital name="token-digital" id="token-digital" session="[[session]]" cttes="[[cttes]]"
                        parametros="[[parametros]]" loading="{{loading}}"></token-digital>
                </iron-pages>
            </app-header-layout>
        </app-drawer-layout>

        <iron-ajax id="ironAjaxLogout" url="[[cttes.URL_BACKEND]]/sesiones/logout" method="post" content-type="application/json"
            handle-as="json" body="{}" headers$='{"authorization":"[[session.token]]"}' loading="{{loading}}" />

        <pubnub-client publishKey="[[parametros.PUBNUB_PUBLISH_KEY]]" subscribeKey="[[parametros.PUBNUB_SUSCRIBE_KEY]]"
            channel="[[parametros.PUBNUB_CHANNEL]]" on-received-message="receivedMessageCallback"></pubnub-client>

    </template>

    <script>
        // Gesture events like tap and track generated from touch will not be
        // preventable, allowing for better scrolling performance.
        Polymer.setPassiveTouchGestures(true);

        class MyHome extends Polymer.Element {
            static get is() { return 'my-home'; }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged',
                    },
                    routeData: Object,
                    subroute: Object,
                    // This shouldn't be neccessary, but the Analyzer isn't picking up
                    // Polymer.Element#rootPath
                    rootPath: String,
                    loading: {
                        notify: true
                    },
                    pubnubMessage: Object
                };
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                ];
            }

            _routePageChanged(page) {
                // If no page was found in the route data, page will be an empty string.
                // Default to 'view1' in that case.
                this.page = page || 'mis-cuentas';

                // Close a non-persistent drawer when the page & route are changed.
                if (!this.$.drawer.persistent) {
                    this.$.drawer.close();
                }
            }

            _pageChanged(page) {
                // Load page import on demand. Show 404 page if fails
                const resolvedPageUrl = this.resolveUrl('views/' + page + '.html');
                Polymer.importHref(
                    resolvedPageUrl,
                    null,
                    this._showPage404.bind(this),
                    true);

                let webComponenet = this.$[page];
                if (webComponenet && webComponenet.show && typeof webComponenet.show === 'function') {
                    webComponenet.show();
                }
            }

            _showPage404() {
                this.page = 'view404';
            }

            onClickRefresh() {
                let webComponenet = this.$[this.page];
                if (webComponenet && webComponenet.refresh && typeof webComponenet.refresh === 'function') {
                    webComponenet.refresh();
                }
            }

            onClickLogout(event) {
                this.$.ironAjaxLogout.generateRequest();
                this.dispatchEvent(new CustomEvent('logout'));
            }

            _uuid() {
                return crypto.getRandomValues(new Uint32Array(4)).join('-');
            }

            receivedMessageCallback(event, detail) {
                if(detail.idCliente !== this.session.user.idCliente)
                    return;

                if(detail.evento === 'login' || detail.evento === 'logout'){
                    this.$['mis-sesiones'].refresh();
                } else if(detail.evento == 'transferencia'){
                    this.onClickRefresh();
                }
            }
        }

        window.customElements.define(MyHome.is, MyHome);
    </script>
</dom-module>