<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        --iron-icon-width: 20px;
      }

      .circle {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
      }

      h1 {
        margin: 0;
        color: #0078d2;
        border-bottom: 0.5px #ddd solid;
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: normal;
      }
    </style>
  </template>
</dom-module>